.ps-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    @include hidden;
    @include transition(all 0.4s ease);
    background-color: rgba(#000, 0.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &__content {
        position: relative;
        max-width: 830px;
        width: 100%;
        @include transition(tranform 0.4s ease);
    }

    &__close {
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
        background-color: #000;
        border: none;
        @include border-radius(0);

        i {
            @include center;
            font-size: 16px;
            color: #ffffff;
        }

        &:hover {
            background-color: $color-2nd;
        }
    }

    &.active {
        @include show;
        @include transition-delay(0.5s);
    }

    @include media('<md') {
        padding: 100px 30px 20px;
        .ps-popup__content {
            position: relative;
            top: 0;
            left: 0;
            max-width: 800px;
            margin: 0 auto;
        }

        &.active {
            .ps-popup__content {
                @include transform(translate(0, 0));
            }
        }
    }

    @include media('<xs') {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.ps__cookie-popup-widget{
    position:fixed;
    bottom:15px;
    left: 15px;
    border-radius: 50%;
    //import
    transition: all ease 0.2s;
    opacity: 0;
    button{
        background:#2A3147;
        color: #fff;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        border: none;
        i{
            font-size: 20px;

        }
        sub{
            margin-top: -10px;
            margin-left: -10px;
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
            background-color: #FCB800;
        }
    }
}
#cookiepopup{
    opacity: 0;
    transition: all ease 0.4s;
}
.ps__cookie-popup{
    position:fixed;
    bottom:15px;
    height:350px;
    width: 100%;
    max-width: 350px;
    border-radius: 7px;
    left:15px;
    background:#2A3147;
    overflow: auto;
    z-index:1000;
    padding: 0.7em 1em;
    transition: all ease 0.2s;
    overflow: hidden;
    *{
        color: #ffffff;
    }
    .close{
        margin-bottom: 10px;
    }
    .title{
        font-size: 22px;
        font-weight: 600;
        display: block;
        margin-top: 20px;
    }
    p:nth-child(2){
      width: 95%;
      margin: 10px auto;
      font-size: 13px;
    }
    button{
        display: block;
        width: 95%;
        margin: 1em auto;
        border-radius: 7px;
        font-size: 16px;
        height: 50px;
        border: none;
        cursor: pointer;
    }
    button.accept{
        background-color: #FCB800;
        color: white;
        cursor: pointer !important;
        &:hover{
            background-color: lighten($color:#2A3147, $amount:20);
        }
    }
    button.reject{
        border: 1px solid #FCB800;
        color: #FCB800;
        background: none;
        cursor: pointer!important;
        &:hover{
            background-color: lighten($color:#FCB800, $amount:20);
        }
    }
    @include media('<sm'){
        left: 2px;
        height: 270px;
        .title{
            font-size: 18px;
        }
        p:nth-child(2){
            font-size: 10px;
        }
        button{
            height: 37px;
            font-size: 10px;
        }
    }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ps__verify-widget{
    background-color: #fff;
    max-width: 500px;
    padding:16px;
    margin: auto;
    border-radius: 10px;
    .ps__title,.ps__desc{
        text-align: center;
    }
    *{
        margin:0;
    }
    .ps__desc{
        font-weight: 500;
        margin-bottom: 25px;
    }
    .ps__icon{
        text-align: center;
        i{
            color: #026CDF;
            font-size: 60px;
        }
    }
    .ps__title{
        margin-bottom: 25px;
    }
    .ps__code-form{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        justify-content: center;
        gap: 10px;
        max-width: 250px;
        margin:10px auto;
        input{
            &:focus{
                border-bottom: 2px solid #026CDF; 
            }
            -moz-appearance: textfield;
            text-align: center;
            display: block;
            border: none;
            border-radius: 0px;
            width: 40px;
            font-size: 35px;
            font-weight:800;
            height: 50px;
            margin: auto;
            transition: all ease 0.2s;
            border-bottom: 2px solid grey;
        }
    }
    .ps__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ps__resend-link{
            color: #026CDF;
            font-weight: 600;
        }
        .ps__submit-btn{
            border: none;
            padding:2px 10px;
            text-align: center;
            min-width: 100px;
            height: 38px;
            background-color: #026CDF;
            color: #fff;
        }
    }
}