@tailwind base;
@tailwind components;
@tailwind utilities;


.ps__deal-section{
    margin: 4em auto;
}
.ps__deal-container{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin: 2em auto;
}
.ps__submit-review-btn{
    background: #FCB800;
    padding: 10px 16px;
    font-weight: 500;
}
html{
    scroll-behavior: smooth;
}
.card{
    box-shadow: 0 12px 24px 0 #000000;
}

.image-gallery-thumbnail{
    height: 80px;
    width: 80px;
    &.active,
    &:hover,
    &:focus{
        border:3px solid #FCB800;
    }
}

.auto-country-field{
    margin:16px auto;
    p{
        font-weight: 600;
        color: #000000;
    }
}
.auto-country-btn{
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    margin-top: 9px;
    padding:8px 16px;
}

iframe.skiptranslate{
    display:  none !important;
    max-height: 0 !important;
}
.skiptranslate{
    display: none !important;
    max-height: 0 !important;
}
body{
    top: 0px !important;
}